/*
===============================================
Page Styles
===============================================
*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.auto-scroll {
    scroll-behavior: auto;
}


html,
body {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    font-size: 18px;
    
}

.content {
    padding: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
}

.search-bar {
    margin-bottom: 1rem; 
}

#city-search {
    margin-top: 1rem;
}

.cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: none;
    max-height: 90%;
}

.details-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    overflow: hidden;
    max-height: 100vh;
}

.map-container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 90%;
}

.card {
    margin: 2rem;
    animation: fade-in 1s ease-in;
}

.result-card {
    margin: 0;
}

.result {
    width: 280px;
}

.card-details {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: .75rem;
}

.event-image {
    width:280px;
    height: auto;
    max-height: 280px;
    align-self: center;
}

.event-location {
    font-size: small;
    color: blue;
}

#map {
    padding-top: 1rem;
    height: 420px;
    flex: 1 1 auto;
    position: sticky;
    align-self: center;
}

.hidden {
    display: none;
}

#centers{
    text-align:center;
}

#btncenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }




#section0 {
   background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png"); 
   
} 
 #overlay0 { 
    height: 100vh;
    /* background: lightgoldenrodyellow; 
    opacity: 0.6; */
}


.nightout {
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
  /* font-family: 'Amaranth', sans-serif; */
  font-family: 'Vidaloka', serif;

}

.finalpage {
 text-align: center;
 font-family: 'Vidaloka', serif;
 font-size: 40px;
}


#section1 {
    height:100vh;
    background-color: #ebcdc5;
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png")
}
.text-color {
    color: black;
}

.section1-content {
    padding-top: 150px;
}

#section2 {
    height:100vh;
    background: lightsteelblue;
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png")
}

.noideatext {
  text-align: center;
  font-size: 15px;
  font-family: 'Vidaloka', serif;
}

#section3 {
    height:100vh;
    
    background: lightblue;
    background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png")
    /* background-image:url("http://www.mycoolbackgrounds.com/backgrounds/19629/Night%20Skyline,%20Atlanta,%20Georgia.jpg"); */
    /* background-size: 100%; */
    /* opacity: 0x; */
    
}

.card a, .card-details{
    text-align: center;
}

#section4{
    height:100vh;
    background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png"); 
}


.container1 {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 200px;
        margin-top: -100px; /* half of you height */
        width: 400px;
        margin-left: -200px; /* half of you width */
}

.container2 {
    position: absolute;
    left: 50%;
    top: 150%;
    height: 200px;
    margin-top: -100px; /* half of you height */
    width: 400px;
    margin-left: -200px; /* half of you width */

}

.select-event-link,
.select-place-link {
    cursor: pointer;
}

.no-scroll {
    overflow: hidden;
}

#date-select {
    height: 100%;
    width: 100%;
    position: relative;
} 

.datepicker-modal {
    position: absolute;
    top: 50% !important;
    transform: scaleX(1) scaleY(1) translate(0, -50%) !important;
}  

@keyframes typewriter {
    from {
        width: 0;   
    }
    to {
        width: 15em; 
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255,255,255, 0.75)
        }
    to {
        border-right-color: transparent;
    }
}


.card-title {
    text-shadow: 1.5px 1.5px gray;
}
.results-container {
    width: 90%;

}

#results-message {
    margin-bottom: 0;
}

#results-list {
    margin-top: 3rem;
    padding-left: 30px;
    max-height: 75%;
}

::placeholder {
    color: white;
}


.card {
    background-color:lightgray;
}
.card:hover {
    background-color:gray;
    box-shadow: 5px 5px lightgray;
}

.date-div {
    font-size: small;
}

.rating-color {
    color: yellow;
}

#title1{
    text-shadow: 1.5px 1.5px gray;
}

#results-list {
    text-align: center;
}

h3 {
    text-shadow: 2px 2px gray;
}
/*
===============================================
Typography
===============================================
*/

h4 {
    font-size: 1.4rem;
    font-weight: bold;
}

h3 {
    margin: 0 0 1rem 0;
}

#map {
    padding-top: 50px;
    height: 500px;
    width:300px;
    position: sticky;
    top:100px;
    left:75px;
    align-self: center;
    box-shadow: 5px 5px rgb(150, 144, 144);
 }




 /*
===============================================
Scroll Bar
===============================================
*/

 /* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:  #d69b8a;; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #ebcdc5;; 
}




 /*
===============================================
Animation
===============================================
*/

@keyframes fade-in {
	0% {
        opacity: 0;
        transform: translate(-50px, -50px);
	}
	100% {
        opacity: 1;
        transform: translate(0, 0);
	}
}