/*
===============================================
Page Styles
===============================================
*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


html,
body {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    font-size: 18px;
    
}

.content {
    padding: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
}

.search-bar {
    margin-bottom: 1rem; 
}

#city-search {
    margin-top: 1rem;
}

.cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: none;
    max-height: 90%;
}

.details-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    overflow: hidden;
    max-height: 100vh;
}

.map-container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 90%;
}

.card {
    margin: .5rem;
    animation: fade-in 1s ease-in;
}

.result {
    width: 280px;
}

.card-details {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: .75rem;
}

.event-image {
    width:280px;
    height: auto;
    max-height: 280px;
    align-self: center;
}

.event-location {
    color: blue;
}

#map {
    padding-top: 1rem;
    height: 420px;
    flex: 1 1 auto;
    position: sticky;
    align-self: center;
}

.hidden {
    display: none;
}

#centers{
    text-align:center;
}

#btncenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }




#section0 {
   background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png"); 
   
} 
 #overlay0 { 
    height: 100vh;
    /* background: lightgoldenrodyellow; 
    opacity: 0.6; */
}


.nightout {
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
  /* font-family: 'Amaranth', sans-serif; */
  font-family: 'Vidaloka', serif;

}


#section1 {
    height:100vh;
    background-color: #ebcdc5;
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png")
}
.text-color {
    color: black;
}

.section1-content {
    padding-top: 150px;
}

#section2 {
    height:100vh;
    background: lightsteelblue;
}

.noideatext {
  text-align: center;
  font-size: 15px;
  font-family: 'Vidaloka', serif;
}

#section3 {
    height:100vh;
    background: lightgoldenrodyellow;
    background-image:url("http://www.mycoolbackgrounds.com/backgrounds/19629/Night%20Skyline,%20Atlanta,%20Georgia.jpg");
    background-size: 100%;
}

#section4{
    height:100vh;
    background: lightpink; 
}


.container1 {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 200px;
        margin-top: -100px; /* half of you height */
        width: 400px;
        margin-left: -200px; /* half of you width */
}

.container2 {
    position: absolute;
    left: 50%;
    top: 150%;
    height: 200px;
    margin-top: -100px; /* half of you height */
    width: 400px;
    margin-left: -200px; /* half of you width */

}

.select-event-link,
.select-place-link {
    cursor: pointer;
}

.no-scroll {
    overflow: hidden;
}

#date-select {
    height: 100%;
    width: 100%;
    position: relative;
} 

.datepicker-modal {
    position: absolute;
    top: 50% !important;
    transform: scaleX(1) scaleY(1) translate(0, -50%) !important;
}  

/*
===============================================
Typography
===============================================
*/

h4 {
    font-size: 1.4rem;
    font-weight: bold;
}

#map {
    padding-top: 50px;
    height: 500px;
    width:300px;
    position: sticky;
    top:100px;
    left:75px;
    align-self: center;
 }




 /*
===============================================
Scroll Bar
===============================================
*/

 /* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}




 /*
===============================================
Animation
===============================================
*/

@keyframes fade-in {
	0% {
        opacity: 0;
        transform: translate(-50px, -50px);
	}
	100% {
        opacity: 1;
        transform: translate(0, 0);
	}
}